{% extends 'base.html.twig' %} {% block stylesheets %} {{ parent() }}
<link href="{{asset('css/anuncios.css')}}" rel="stylesheet" type="text/css"> {% endblock %} {% block contenido %}


<div class="todo-anuncios">

    <div class="cont-general-anuncios">

        {% for anuncio in anuncios %}
        <div class="cont-anuncio">
            <a class="link-anuncio" href="{{ path('verAnuncio',{id:anuncio.id}) }}">
						{% if anuncio.fotos[0] is defined  %}
						<img class="an-foto" src="{{ asset('imagenes/anuncios/'~anuncio.fotos[0].nombre) }}">

						{% else %}
						<img class="an-foto" src="{{ asset('imagenes/sinfoto.png') }}">
						{% endif %}

						<div class="an-titulo">
							{{ anuncio.titulo }}
						</div>
						<div class="an-precio">
							{{ anuncio.precio }}
							€
						</div>
					</a>
        </div>

        {% endfor %}

    </div>

</div>
{% endblock %}