<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenido!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
		{% endblock %}
	</head>
	<body>
		<div class="todo">
			<div class="cabecera">
				<img class="logo" src="../imagenes/logo.png">
				<div class="cont-usuario">
					{% if app.user %}
						<div class="usuario-info">
							Hola, 
							{{ app.user.username }}
							<a href="{{ path('app_logout') }}" class="btn-logout">Logout</a>
						</div>
						<div class="botones-logeado">
							<a class="btn-add" href="{{ path("addAnuncio",{id: app.user.id}) }}">Añadir Anuncio</a>
							<a class="btn-listado" href="{{ path("misAnuncios",{id: app.user.id}) }}">Mis Anuncios</a>

						</div>
					{% else %}
						<div class="botones-nologin">
							<a href="{{ path("app_login") }}">Login</a>
							<a href="{{ path("registrar") }}">Registro</a>
						</div>
					{% endif %}
				</div>

			</div>


			{% block contenido %}{% endblock %}
			{% block javascripts %}{% endblock %}
		</div>
	</body>
</html>
